@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900');

* {
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: rgb(240, 240, 240);
}

.header-page {
  background-color: #18a0fb;
  padding: 0.5em;
  color: white;
}

.borde_negro {
  background-color: #333;
  padding: 0.5em;
  max-height: 20px;
  overflow-y: hidden;
}

.borde_final {
  background-color: #333;
  padding: 0.5em;
  color: #9e9e9e;
}

.borde_final img {
  display: inline-block;
  vertical-align: middle;
  width: 10%;
}

.borde_final p {
  display: inline-block;
  margin-left: 10px;
  vertical-align: middle;
  width: 65%;
}