.opc {
    display: flex;
    gap: 5px;
}

.p {
    font-family: #fff;
    font-size: 10px;
    background-color: #333;
    max-height: 20px;
}


.btn-consulta,
.btn-paso,
.btn-generales {
    display: inline-block;
    text-decoration: none;
    color: white;
    border-radius: 5px;
    padding: 5px;
    font-size: x-small;
    text-align: center;
    width: 150px;

}

.btn-consulta {
    background-color: #333;
    border: none;
}

.btn-paso {
    background-color: #ee3d8f;
}

.btn-paso:hover {
    background-color: #ccc;
}

.btn-generales {
    background-color: #37BBed;
}

.btn-generales:hover {
    background-color: #ccc;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

.Mesas-informes,
.electores-informes,
.participacion-informes {
    display: inline-block;
    width: 174px;
    height: 70px;
    text-transform: uppercase;
    color: white;
    overflow-y: hidden;
    padding: 0.5rem;
    font-size: 10px;
    border-radius: 10px;
}

.Mesas-informes {
    background-color: lightblue;
}

.electores-informes {
    background-color: magenta;
    margin-right: 10px;
}

.participacion-informes {
    background-color: rgb(49, 7, 88);
}

.texto-tabla1 {
    display: grid;
    color: grey;
    font-size: x-small;

}


.texto-tabla2 {
    display: grid;
    color: grey;
    font-size: x-small;
}
.texto-tabla1 h4{
    text-align: end;
}

.texto-tabla2 h4{
    text-align: end;
}